<div class="jumbotron">
  <h1>Hey, I'm Chris Rappoli</h1>

  <p class="lead">
    Learning to use data to make the world smarter.
    </p>
  <img src="images/airplane_takeoff_wide.jpg" alt="plane takeoff" class="img-responsive"><br>

</div>

<div class="row marketing">
  <h4>Data Driven and Product focused</h4>
  <p>
    Using Angular, Python, and D3 to use data effectively.
  </p>

  <h4>Mechancial Engineer by Training</h4>
  <p>Engineered jet engines and helicopters.
  solving skills</p>
  <p>Trained to understand complex systems and make data driven decisions.</p>
</div>
